@import "../../SassVariables/SassVariables.scss";

.shop {
  display: flex;

  .fast-four {
    display: flex;
    flex-direction: column;
    left: 175px;
    position: relative;
    width: calc(100vw - 514px);

    .local-artist {
      div {
        display: flex;
      }

      h2 {
        font-family: 700;
        margin-top: 0;
      }
    }

    .new-arrivals {
      div {
        display: flex;
      }

      h2 {
        font-family: 700;
        margin-top: 0;
      }
    }

    .popular-items {
      div {
        display: flex;
      }

      h2 {
        font-family: 700;
        margin-top: 0;
      }
    }
  }

  .fast-four.overlay {
    opacity: 0.5;
  }
}
