@import "../../../../SassVariables/SassVariables.scss";

.review-card {
  form {
    align-items: center;
    display: flex;
    flex-direction: column;

    .form-control {
      #improve {
        border-radius: 10px;
        height: 136px;
        width: 346px;

        &.error {
          background: $lightRed;
          border: 2px solid $red;
        }
      }

      p {
        color: $red;
        margin: 0;
      }
    }
  }

  .review-title {
    background: none;
    margin-top: 40px;
  }
}
