@import "./src/SassVariables/SassVariables.scss";

.contact-form {
  margin-right: 131px;
  margin-top: 111px;
  position: relative;

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;

    &.overlay {
      opacity: 0.5;
    }

    .contact-button {
      margin-left: 210px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .email {
        align-items: center;
        display: flex;
        margin: 0 0 20px 22px;

        .error {
          background: $lightRed;
          border-color: $red;
        }

        .form-control {
          display: flex;
          flex-direction: column;
        }

        input {
          background: $lightGrey;
          border: 2px solid $darkGrey;
          border-radius: 10px;
          height: 51px;
          margin-left: 1em;
          width: 335px;
        }

        label {
          font-size: 20px;
          font-weight: 500;
        }

        p {
          color: $red;
          margin: 0 0 0 13px;
        }
      }

      .message {
        display: flex;
        margin-left: -10px;
        margin-top: 0;

        .error {
          background: $lightRed;
          border-color: $red;
        }

        .form-control {
          display: flex;
          flex-direction: column;
        }

        label {
          font-size: 20px;
          font-weight: 500;
          margin-top: 10px;
        }

        p {
          color: $red;
          margin: 0 0 0 15px;
        }

        textarea {
          background: $lightGrey;
          border: 2px solid $darkGrey;
          border-radius: 10px;
          height: 196px;
          margin-left: 1em;
          width: 335px;
        }
      }

      .name {
        display: flex;
        margin: 0 0 20px 19px;

        .error {
          background: $lightRed;
          border-color: $red;
        }

        .form-control {
          display: flex;
          flex-direction: column;
        }

        input {
          background: $lightGrey;
          border: 2px solid $darkGrey;
          border-radius: 10px;
          height: 51px;
          margin-left: 1em;
          width: 335px;
        }

        label {
          font-size: 20px;
          font-weight: 500;
          margin-top: 10px;
        }

        p {
          color: $red;
          margin: 0 0 0 15px;
        }
      }

      .promotion {
        align-items: center;
        display: flex;
        margin-left: 40px;
        margin-top: 46px;

        input {
          height: 20px;
          width: 20px;
        }
      }
    }

    h3 {
      margin-left: 50px;
    }
  }
}
