@import "./src/SassVariables/SassVariables.scss";

.instagram {
  position: relative;
  top: -50px;

  &.overlay {
    opacity: 0.5;
  }

  a {
    display: flex;
    flex-direction: column;
    position: relative;

    .bottom {
      top: -270px;
      position: relative;
      z-index: 1;
    }

    .top {
      position: relative;
    }
  }
}
