@import "./src/SassVariables/SassVariables.scss";

.side-bar {
  font-weight: 500;
  margin-left: 80px;
  margin-right: 89px;
  width: 153px;

  button {
    border: none;
    background: $blue;
    color: $white;
    font-family: $fontFamily;
    font-size: 20px;
    padding: 20px;

    &:hover {
      background: $yellow;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin-top: 58px;
    padding: 0;

    li {
      margin-bottom: 38px;

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
