@import "../../../../SassVariables/SassVariables.scss";

.review-thank-you {
  align-items: center;
  background: $darkGrey;
  border-radius: 20px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 437px;
  position: absolute;
  top: -400px;
  width: 500px;

  .review-close {
    border: none;
    background: none;
    color: $blue;
    font-size: 75px;
    position: absolute;
    right: 20px;
    top: 0;

    &:hover {
      color: $yellow;
      cursor: pointer;
    }
  }
}
