@import "./src/SassVariables/SassVariables.scss";

.contact {
  position: relative;
  width: 100%;

  .back-to-top {
    color: $blue;
    display: flex;
    font-size: 25px;
    font-weight: 700;
    justify-content: center;
    margin-left: 870px;
    margin-top: 182px;
    position: relative;
    width: fit-content;
  }

  .contact-instagram {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  h2 {
    background: $yellow;
    color: $white;
    font-size: 25px;
    font-weight: 700;
    padding: 19px 0;
    text-align: center;
  }
}

.contact.overlay {
  opacity: 0.5;
}
