@import "./src/SassVariables/SassVariables.scss";

.selection {
  align-items: center;
  background: $darkGrey;
  border-radius: 20px;
  color: $white;
  display: flex;
  height: 564px;
  justify-content: space-evenly;
  position: relative;
  opacity: 1;
  width: 1080px;

  .gift-card-selection {
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;

      a {
        color: $white;
      }

      div {
        padding-bottom: 38px;

        input {
          margin-right: 0.5em;
        }
      }

      .gift-card-button {
        border: none;
        background: $yellow;
        color: $white;
        font-family: $fontFamily;
        font-size: 25;
        font-weight: 700;
        height: 50px;
        margin-top: 29px;
        padding: 10px 20px;
        width: 121px;

        &:hover {
          background: $blue;
          cursor: pointer;
        }
      }

      h3 {
        margin-bottom: 47px;
      }

      label.error {
        color: $red;
      }

      p {
        color: $red;
      }
    }
  }

  .selection-close {
    border: none;
    background: none;
    color: $blue;
    font-size: 75px;
    position: absolute;
    right: 20px;
    top: 0;

    &:hover {
      color: $yellow;
      cursor: pointer;
    }
  }

  img {
    height: 248px;
    width: 334px;
  }
}
