@import "./src/SassVariables/SassVariables.scss";

.subscribe {
  display: flex;
  flex-direction: column;
  margin-top: 95px;

  .sub-button {
    border: none;
    background: $blue;
    color: $black;
    font-size: 20px;
    font-weight: 500;
    height: 44px;
    margin-top: 35px;
    padding: 10px;
    width: 102px;

    &:hover {
      color: $white;
      cursor: pointer;
    }
  }

  h3 {
    color: $red;
    font-size: 20px;
    font-family: 500;
    margin-bottom: 0;
  }

  input {
    background: $lightGrey;
    border: 1px solid $white;
    border-radius: 5px;
    height: 51px;
    margin-top: 15px;
    padding: 17 15 17 0;
    width: 266px;
  }

  p {
    margin-top: 15px;
    width: 255px;
  }
}
