@import "./src/SassVariables/SassVariables.scss";

.star {
  display: flex;
  flex-direction: column;
  margin-left: 290px;
  margin-top: -200px;
  position: relative;
  z-index: 1;

  .star-title {
    background: none;
    color: $black;
    display: flex;
    margin-left: 150px;

    &.overlay {
      opacity: 0.5;
    }
  }

  .star-row {
    display: flex;
    width: fit-content;

    &.overlay {
      opacity: 0.5;
    }

    .rating {
      background: none;
      border: none;
      color: $darkGrey;
      font-size: 45px;
      padding: 0 0.5em;
      cursor: pointer;

      &.yellow {
        color: $yellow;
      }

      &.yellow:hover {
        color: $yellow;
      }
    }

    input[type="radio"] {
      display: none;
    }
  }
}
