@import "./SassVariables/SassVariables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $fontFamily;
}

.App {
  height: fit-content;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
}
